<!DOCTYPE html>

<html>

<head>
    <title>Farmer Database</title>
  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Datepicker -->

</head>

<body class="bg-info"><!--in order to apply bg for body -->
    <div class="row">
        <div class="col-md-11 offset-md-3" style="background-color: #fff;margin-top: 2px;padding:20px;">
            {{{body}}}<!--child view is renderedered ,inorder to render the child as html we hv used 3 braces-->
        </div>
    </div>

</body>
 
</html>